pre#json-response-display {
    background-color: #34495e;
}
.simplePlugin-string {
    color: #fff;
}
.simplePlugin-number {
    color: #59d9a4;
}
.simplePlugin-boolean {
    color: #fff;
}
.simplePlugin-null {
    color: #d64933;
}
.simplePlugin-key {
    color: #dd5;
}
input#api-input {
    width: 900px;
}
